<div class="container">
  <table class="table">
    <tr>
      <td>Building</td>
      <td colspan="2">{{bulocation.building}}</td>
      <td><button (click)="getbulist() ;" class="btn btn-sm btn-outline-danger ">Select Building</button></td>
    </tr>
    <tr [hidden]="!searchbu">
      <td colspan="4">
        <label for="searchbox">Type to filter the List -</label>
        <input class="inputfilter" type="text" id="searchbox" [(ngModel)]="searchbox"
          [ngModelOptions]="{standalone: true}">

        <div class="list-group">
          <div class="list-group-item" (click)="buchanged(item)"
            *ngFor=" let item of searchlist | searchpipe: [searchbox, 'building']" >
            {{ item['building'] }} </div>
        </div>
      </td>
    </tr>
    <tr [hidden]="!allFloors || allFloors.length != 1 || lessthan(allFloors[0].length, 4) ">
      <td>Floor</td>
      <td colspan="3"> {{bulocation.floor}}
      </td>
    </tr>
    <tr [hidden]="!allFloors || lessthan(allFloors.length, 2)  || lessthan(allFloors[0].length, 4) ">
      <td><strong> <span style="color:red;">Select a Floor </span> </strong></td>
      <td colspan="3">
        <select class="form-control" [(ngModel)]="bulocation.floor" (ngModelChange)="floorChanged($event)" name="floor">
          <option *ngFor="let currentFloor of allFloors" [ngValue]="currentFloor">
            {{currentFloor}}
          </option>
        </select>
      </td>

    </tr>
    <tr [hidden]="!bulocation.floor">
      <td colspan="4">Further detail of the location?</td>
    </tr>
    <tr [hidden]="!bulocation.floor">
      <td colspan="4"><input style="width: 100%;" type="text" [(ngModel)]="bulocation.locality"
          [ngModelOptions]="{standalone: true}" placeholder="example:Room x Pillar Y "></td>
    </tr>
  </table>
  <div class="col text-center">
    <button [hidden]="!bulocation.floc" class="btn btn-danger" (click)="acceptitem(bulocation)">OK</button>
  </div>
</div>
