<!--<form #f (ngSubmit)="onSubmit(f)">

  <div class="form-group">
    <label for="username">Identification</label>
    <input [(ngModel)]="user.userid" [ngModelOptions]="{standalone: true}" id="userid" type="email"
      placeholder="Absa AB-Number or Email or Cellphone" class="form-control">
  </div> -->
<div class="container2">
  <table class="table table-sm">
    <tr>
      <td><strong>Identification</strong></td>
      <td>
        <input [(ngModel)]="user.userid" [ngModelOptions]="{standalone: true}" id="userid" type="email"
          placeholder="AB-Number or Email or Cellphone" class="form-control shorter">
      </td>
      <td><button (click)="findUser(user.userid)" class="btn btn-sm  btn-outline-danger float-left">Find Me</button>
      </td>
    </tr>
  </table>
  <table class="table table-sm">
    <tr class="noinput">
      <td>
        <strong>
          Requestor Name
        </strong>
      </td>
      <td colspan="2">
        {{user.username}}
      </td>
    </tr>
    <tr class="noinput">
      <td>
        <strong>
          Email
        </strong>
      </td>
      <td colspan="2">
        {{user.email}}
      </td>
    </tr>
    <tr class="noinput">
      <td>
        <strong>
          Cellphone
        </strong>
      </td>
      <td colspan="2">
        {{user.cellno}}
      </td>
    </tr>
    <tr class="noinput">
      <td>
        <strong>
          Landline
        </strong>
      </td>
      <td colspan="2">
        {{user.landline}}
      </td>
    </tr>
  <!--   <tr class="noinput">
      <td>
        <strong>
          Oneview
        </strong>
      </td>
      <td colspan="2">
        {{user.oneview}}
      </td>
    </tr> -->
    <tr class="noinput">
      <td>
        <strong>
          Building
        </strong>
      </td>
      <td colspan="2">
        {{user.building}}
      </td>
    </tr>
  </table>
  <div class="col text-center">
    <button class="btn btn-danger" [hidden]="!user.userid || user.userid == 'INVALID'"
      (click)="onSubmit('f')">OK</button>
  </div>
</div>
<!--

</form>

  <div class="form-group">
    <label for="username">Email Address</label>
    <input [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}" id="username" type="email"
      class="form-control">
  </div>
  <div class="form-group">
    <label for="cellno">Mobile Number</label>
    <input [(ngModel)]="user.cellno" [ngModelOptions]="{standalone: true}" id="cellno" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="officeno">Office Contact No</label>
    <input [(ngModel)]="user.officeno" [ngModelOptions]="{standalone: true}" id="officeno" type="text"
      class="form-control">
  </div>
  <div class="form-group">
    <label for="officeno">Cost Centre</label>
    <input [(ngModel)]="user.costcentre" [ngModelOptions]="{standalone: true}" id="costcentre" type="text"
      class="form-control">
  </div>
  -->
