<div class="row">
  <div class="container">
    <table class="table table-striped" id="quiz">
      <tr *ngFor="let item of questionlist">
        <td>{{item.QUESTION}} </td>

        <td> <label><input type="radio" (click)="level1clicked(item,'N')" name="{{item.NODEKEY}}"
              id="{{item.DECLINE}}-{{item.NODEKEY}}" />No</label>
        </td>
        <td> <label><input type="radio" (click)="level1clicked(item,'Y')" name="{{item.NODEKEY}}"
              id="{{item.AFFIRM}}-{{item.NODEKEY}}" />Yes</label>
        </td>
        <td class="w-10">
          <button style="margin-left:1px;" type="button" class="btn btn-sm btn-outline-danger mr-2"
            (click)="openModal(item)"><span style="color:red;">?</span>
          </button>
          <!--   <button type="button" class="btn btn-sm btn-outline-danger mr-2" ngbPopover="{{item.QUESTION}}"
            popoverTitle="What is the Question"><span style="color:red;">?</span>
          </button> -->
        </td>
      </tr>
      <tr [hidden]="level2">
        <td colspan="3" class="text-center"><b>Select risk below:</b></td>
      </tr>
      <tr [hidden]="level2" *ngFor="let item2 of questionlist2">
        <td colspan="2"><small>{{item2.QUESTION}} </small> </td>

        <td> <label><input type="radio" (click)="level2clicked(item2,'N')" name="Level2"
              id="{{item2.NODEKEY}}" /></label>
        </td>
        <td class="w-10">
          <button type="button" class="btn btn-sm btn-outline-danger mr-2" (click)="openModal(item2)"><span
              style="color:red;">?</span>
          </button>
          <!--    <button type="button" class="btn btn-sm btn-outline-danger mr-2" ngbPopover="{{item.QUESTION}}"
            popoverTitle="What is the Question"><span style="color:red;">?</span>
          </button> -->
        </td>
      </tr>

    </table>

    <div [hidden]="!results">
      <div class="col text-center">
        <button class="btn btn-danger" (click)="onQstDone()">OK</button>
      </div>
      <!--   <h2>{{resultstxt}} </h2> -->
    </div>
  </div>
</div>
