<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{itemin.QUESTION}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>
    {{itemin.LINE1}}
  </p>
  {{itemin.LINE2}}
</div>
