<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{iteminx.QUESTION}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group">
    <label for="Title">Title</label>
    <input type="text" id="Title" [(ngModel)]="iteminx.TITLE" class="form-control" />
  </div>
  <div class="form-group">
    <label for="Question">Question</label>
    <input type="text" id="Question" [(ngModel)]="iteminx.QUESTION" placeholder="Question" class="form-control" />
  </div>

  <div class="form-group">
    <label for="LINE1">Paragraph 1</label>
    <textarea type="text" id="LINE1" [(ngModel)]="iteminx.LINE1" placeholder="Provide detail"
      class="form-control"></textarea>
  </div>

  <div class="form-group">
    <label for="LINE2">Paragraph 2</label>
    <textarea type="text" id="LINE2" [(ngModel)]="iteminx.LINE2" placeholder="More detail"
      class="form-control"></textarea>
  </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal" (click)="dismiss()">Cancel</button>
  <button type="button" class="btn btn-primary" (click)="saveItem()"> Save </button>
</div>
