<div class="row pt-3 pb-3">
  <div class="col-xs-12 col-sm-8 col-md-5 offset-sm-1  offset-md-3">
    <div class="card m-3">
      <h5 class="card-header">Please Register for Bidvest Facilities Management Portal </h5>
      <div class="card-body">
        <form [formGroup]="registerForm" #f (ngSubmit)="onSubmit()">
          <div class="form-row">
            <div class="form-group col">
              <label>First Name</label>
              <input type="text" formControlName="firstName" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
              <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">First Name is required</div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col ">
              <label>Last Name</label>
              <input type="text" formControlName="lastName" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
              <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col">
              <label>Company Name</label>
              <input type="text" formControlName="company" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.company.errors }" />
              <div *ngIf="submitted && f.company.errors" class="invalid-feedback">
                <div *ngIf="f.company.errors.required">Company Name is required</div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col">
              <label>Email</label>
              <input type="email" formControlName="email" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
              </div>
            </div>

          </div>
          <div class="form-row">
            <div class="form-group col ">
              <label>Cell No for SMS</label>
              <input type="text" formControlName="cellno" class="form-control" />

            </div>
          </div>
          <!--      <div class="form-row">
            <div class="form-group col">
              <label>Password</label>
              <input type="password" formControlName="password" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col">
              <label>Confirm Password</label>
              <input type="password" formControlName="confirmPassword" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
              <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
              </div>
            </div>
          </div> -->
          <div class="row">
            <div class="col" style="background-color: lightgray">
              <p>You will receive an Email confirming your registration shortly.
                Only then will you be required to set up a Password</p>
            </div>
          </div>
          <div class="form-group form-check">
            <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input"
              [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
            <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
            <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Accept Ts & Cs is required</div>
          </div>
          <div class="text-center">
            <button class="btn btn-primary mr-1">Register</button>
            <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
