<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row" *ngIf="focusOn != 0">
    <div class="col-sm-6 offset-sm-3">
      <div class="card ">
        <div class="card-header ">
          <div class="row text-center">
            <div style="z-index: 2; padding-left: 15px;">
              <img src="../assets/absalogo.jpg" alt="" class="src">
            </div>
            <div class="col-8">
              <span style="color:red;  font-size:31px; line-height: 3.25rem ;"> CRES Online </span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
