body {
  padding-bottom: 70px;
}

.src {
  max-height: 60px;
}

.card-header {
  font-weight: bold;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: green;
  color: white;
}

.card-header {
  font-weight: bold;
  background-color: white;
}
