<div class="container">
  <div class="row mt-2">
    <h2>Text Editor</h2>
  </div>
  <table class="table table-bordered table-striped">
    <tr>
      <th>Key</th>
      <th>Title</th>
      <th>Question</th>
      <th>Paragraph 1</th>
      <th>Paragraph 2</th>
      <th>Update</th>

    </tr>
    <tr *ngFor="let item of lHList">
      <td>{{item.KEYCODE}}</td>
      <td>{{item.TITLE}}</td>
      <td>{{item.QUESTION}}</td>
      <td>{{item.LINE1}}</td>
      <td>{{item.LINE2}}</td>
      <td>
        <button (click)="openModal(item)"> Edit </button>
      </td>
    </tr>


  </table>


</div>
