body {
  padding-bottom: 70px;
}

.src {
  max-height: 60px;
}

.btn-outline-danger {
  background-color: white;
}

.card-header {
  font-weight: bold;
  background-color: white;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid red;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: red;
  color: white;
}

img {
  width: 80%;
  height: 65%;
  z-index: -1;
}
