<div class="container">

  <div class="row " *ngIf="focusOn == 0">
    <div class="col-md-6 offset-md-3">
      <div class="card">

        <div class="card-body text-center">
          <img src="../../assets/absa_lp.png" alt="">
          <br><br>
          <div class="col text-center">
            <button (click)="goforit()" class="btn btn-danger">Log a Call</button>

          </div>

        </div>

      </div>

    </div>
  </div>
  <div class="row" *ngIf="focusOn==1">
    <div class="col-sm-6 offset-sm-3">
      <div class="card ">
        <div class="card-header">
          Contact Details&nbsp;&nbsp;
          <button type="button" class="btn btn-sm btn-outline-secondary float-right"
            (click)="openModal('CONTACT')"><span style="color:red;">!</span>
          </button>
        </div>
        <div class="card-body">
          <app-identifyuser (enteredForm)="useridentified($event)">
          </app-identifyuser>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="focusOn == 2">
    <div class="col-sm-6 offset-sm-3">
      <div class="card">
        <div class="card-header">
          Location&nbsp;&nbsp;

          <button type="button" class="btn btn-sm btn-outline-secondary float-right "
            (click)="openModal('LOCATION')"><span style="color:red;">i</span>
          </button>
          <!--    <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              <span class="text-primary"> Include ATM's </span>
            </label>
          </div> -->
        </div>
        <div class="card-body">

          <app-search-form (selectedItem)="selectedBU($event)">
          </app-search-form>
        </div>
        <div class="card-footer">
          <button class="btn  btn-outline-danger  btn-sm" (click)="change('username')"> Back </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="focusOn == 3">
    <div class="col-sm-6 offset-sm-3">
      <div class="card">
        <div class="card-header">
          Description&nbsp;&nbsp;
          <button type="button" class="btn btn-sm btn-outline-secondary float-right "
            (click)="openModal('DESCRIPTION')"><span style="color:red;">i</span>
          </button>
        </div>
        <div class="card-body">
          <app-problem-id (selectedservice)="serviceRequested($event)"> </app-problem-id>

        </div>
        <div class="card-footer">
          <button class="btn btn-outline-danger btn-sm" (click)="change('location')"> Back </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="focusOn == 4">
    <div class="col-sm-6 offset-sm-3">
      <div class="card">
        <div class="card-header">
          <span style="font-size: .80rem ;">Help us determine the impact&nbsp;&nbsp;
            <button type="button" class="btn btn-sm btn-outline-secondary float-right "
              (click)="openModal('RISK')"><span style="color:red;">i</span>
            </button>
          </span>

        </div>

        <div class="card-body">
          <app-questions (selectedquestion)="questionAnswered($event)"> </app-questions>

        </div>
        <div class="card-footer">
          <button class="btn  btn-outline-danger btn-sm" (click)="change('service')"> Back </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="focusOn == 5">
    <div class="col-sm-6 offset-sm-3">
      <div class="card">
        <div class="card-header">
          Call Summary &nbsp;&nbsp;
          <button type="button" class="btn btn-sm btn-outline-secondary float-right"
            (click)="openModal('SUMMARY')"><span style="color:red; ">!</span>
          </button>
          <p style="color:#212529; font-weight: 400;">
            You may amend any category by clicking on the button on the left hand section of the screen
          </p>
        </div>
        <div class="card-body">
          <table class="table table-sm " *ngIf="greaterThan(focusOn,1)">
            <tr class="py-1">
              <td> <button class="btn  btn-outline-danger  btn-block" (click)="change('username')"> User </button>
              </td>
              <td> {{callcontainer.User.username}}</td>

            </tr>
            <tr *ngIf=" greaterThan(focusOn , 2)" class="py-1">
              <td> <button class="btn  btn-outline-danger  btn-block" (click)="change('location')">Location </button>
              </td>
              <td> {{callcontainer.Location.building}}</td>
            </tr>
            <tr *ngIf=" greaterThan(focusOn , 3)" class="py-1">
              <td> <button class="btn  btn-outline-danger  btn-block" (click)="change('service')"> Service </button>
              </td>
              <td> {{callcontainer.Service.tag}}</td>
            </tr>
            <tr *ngIf=" greaterThan(focusOn , 3)" class="py-1">
              <td> <button class="btn  btn-outline-danger  btn-block" (click)="change('service')"> Description </button>
              </td>
              <td><textarea readonly class="form-control text-left" rows="5" cols="80" >{{callcontainer.Service.description}}
              </textarea>  </td>
            </tr>
            <tr *ngIf=" greaterThan(focusOn , 23)" class="py-1">
              <td> <button class="btn  btn-outline-danger  btn-block" (click)="change('service')"> Priority </button>
              </td>
              <td> {{callcontainer.RiskAnalysis.priority}}</td>
            </tr>
          </table>
          <div class="form-group">
            <label for="file-upload" class="custom-file-upload">
              <i class="fa fa-cloud-upload"></i> Take Photo or Select File
            </label>
            <input type="file" id="file-upload" (change)="handleFileInput($event.target.files)">
          </div>
          <div id="myImagediv"> <img id="myImageSrc" style="height: 120px;" />
          </div>
          <div class="pt-4 d-flex justify-content-around">
            <button class="btn btn-danger" (click)="onSubmit(callcontainer)">Submit</button>
            <button class="btn btn-danger" (click)="doReset()">Reset</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="focusOn == 6">
  <div class="col-sm-6 offset-sm-3">
    <div class="card">
      <div class="card-header">Thank You for taking the time to log this call</div>
      <div class="card-body">
        <p>Your reference number
          is:</p>
        <h1>{{this.lastNotification}}</h1>
        <div class="col text-center">
          <button class="btn btn-danger" (click)="doReset()">OK</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="focusOn==4" class="navbar fixed-bottom ">

  <table class="table table-sm table-striped" *ngIf="greaterThan(focusOn,12)">
    <tr *ngIf=" greaterThan(focusOn , 3)" class="py-1">
      <td> <button class="btn btn-danger btn-sm" (click)="change('service')">Change Service </button>
      </td>
      <td> <b> {{callcontainer.Service.tag}} </b></td>
    </tr>
  </table>

</div>
