<form>


    <div class="row">
      <div class="col-6">
        Describe the Problem
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-6-md col-12-sm text-center justify-content-sm-start pl-1 pb-2">
            <button class="btn btn-outline-danger  btn-sm" (click)="openModal('custom-COVID')"><span>Covid Products</span></button>
           </div>
            <div class="col-6-md col-12-sm justify-content-sm-start  pb-2">
            <button class="btn btn-outline-danger  btn-sm ml-1" (click)="openModal('custom-CAREPACK')"><span>Covid SBV Packs</span></button>
              </div>
        </div>
      </div>


      </div>
    <div class="form-group">
    <textarea class="form-control text-left" rows="5" cols="80" id="comment" [(ngModel)]="comment"
      [ngModelOptions]="{standalone: true}" (ngModelChange)="requestupdated($event)"
      Placeholder="For Covid SBV Packs click the SBV-Packs button above. &#10;For Covid Products first add any additional text here and then click the Covid Products button above. &#10;For all others just type a request and click the OK button that appears beneath this box. - example My desk drawer is stuck or There is no water in the Bathroom"></textarea>
  </div>

  <div [hidden]="okdone !=='Z'">
    <label for="searchbox">Type to filter the List -</label>
    <input class="inputfilter" type="text" id="searchbox" [(ngModel)]="searchbox" [ngModelOptions]="{standalone: true}">
    <div>
      <ul class="list-group">
        <li *ngFor="let item of searchlist | searchpipe: [searchbox, 'tag']" class="list-group-item"
          [class.list-group-item-success]="item.inscope =='X'" (click)="onSelect(item)">
          {{item.tag}}</li>
      </ul>
      <div class="col text-center">
        <button class="btn btn-danger" (click)="onNoneofAbove()">None of the Above</button>
      </div>
    </div>
  </div>
  <div [hidden]="okdone !== '' || !comment" class="col text-center">
    <button class="btn btn-danger" (click)="openlist()">OK</button>
  </div>
  <div [hidden]="okdone !== 'Y'" class="col text-center">
    <img src="../../assets/ajax-loader.gif" alt="">
  </div>

</form>
<!-- <div [hidden]="okdone !=='P'" class="col text-center">
  <div class="card">
    <div class="card-header">Project Details</div>
    <div class="card-body">Add Details Here</div>
    <div class="col text-center">
      <button class="btn btn-danger" (click)="openModal('custom-proj-1')">OK</button>
    </div>
  </div>
</div> -->
<jw-modal id="custom-COVID">
  <div class="row">
    <div class="col-md-6 ">
      <div class="card">
        <div class="card-header">
          COVID Items - Select and Order </div>
        <div class="card-body">
          <div class="container">
            <div *ngFor="let producthead of productlisting" >
             <div class="card">
              <div class="card-header" (click) = "showme(producthead)">
              <div class="row">
                <div class="col-sm-6">
                  <b>{{producthead.groupname}} </b>
                </div>

               <div *ngIf="producthead.visible"  class="col-sm-6 float-right">
                <button class="btn btn-sm btn-primary">Hide items</button>
              </div>
              <div *ngIf="!producthead.visible"  class="col-sm-6 float-right">
                <button class="btn btn-sm btn-danger">Show Items</button>
              </div>
            </div>
          </div>
              <div *ngIf="producthead.visible">

              <div  *ngFor="let product of producthead.products" >

                <div class="card-block px-1" style="border:1px gray solid">
                  <div class="row">
                    <div class="col-lg-8 col-md-12">
                      <div style="font-size: .8em ;">Matnr:- {{product.id}}</div>
                      <div style="font-size: .9em ;"><b>{{product.name}} </b> </div>

                    </div>

                    <div class="col-lg-2 col-md-6" style="padding-top: 15px;">
                      {{product.uom}}
                    </div>
                    <div class="col-lg-2 col-md-6 float-right" style="padding-top: 15px; padding-bottom:15px">
                      <input #qty="ngModel" required minvalue="0"  type="number" min="0" class="form-control" (change)="onQtyChange(product)" [(ngModel)] = "product.qty" />
                      <div *ngIf="qty.invalid && (qty.dirty || qty.touched)"
                          class="alert alert-danger">
                        Must be 0 or more
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              </div>
            </div>

        </div>

        </div>
      </div>
      <div class="col text-center">
        <button class="btn btn-primary" (click)="onProject()">Close</button>
      </div>
    </div>
    </div>
<div class="col-sm-6">
  <div class="card">
    <div class="card-header">
      COVID Order List Details </div>
    <div class="card-body">
      <div *ngFor="let product of products" class="card flex-row flex-wrap"  [hidden]=" validateNum(product.qty)  || product.qty == 0" >
        <div [hidden]="product.qty === 0 " >
          <span style="font-size:0.9em"> {{product.id}} - {{product.name}} -  </span> <b>{{product.qty}} </b>
        </div>

        </div>
  </div>
</div>
</div>

  </div>
</jw-modal>
<jw-modal id="custom-CAREPACK">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <div class="card">
        <div class="card-header">
          Please Provide Detail </div>
        <div class="card-body">
          <table class="table table-sm">

          <tr>
            <td>Delivery Region</td>
            <td><select class="form-control" [ngModel]="packaddrcode" (ngModelChange)="onRegion($event)">
               <option *ngFor="let adr of deladdresses" [ngValue]="adr.addrcode">
                  {{adr.Region}}
                </option> >
              </select></td>
          </tr>
          <tr>
            <td>
              Attention
            </td>
            <td>
              <input   type="text" min="0" class="form-control"  [(ngModel)] = "packatt" placeholder="Contact Person Name" />

            </td>
            <td></td>
          </tr>
          <tr>
            <td>
              Telephone
            </td>
            <td>
              <input   type="text" min="0" class="form-control"  [(ngModel)] = "packtel"  placeholder="Contact Person Telephone"/>

            </td>
            <td></td>
          </tr>


          <tr>
            <td>
              Quantity
            </td>
            <td>
              <input #qty="ngModel" required minvalue="0"  type="number" min="0" class="form-control"  [(ngModel)] = "packqty" />
              <div *ngIf="qty.invalid && (qty.dirty || qty.touched)"
                  class="alert alert-danger">
                Must be 0 or more
              </div>
            </td>
            <td></td>
          </tr>
          <tr>
            <td><b>Matnr</b></td>
            <td><b>Items </b></td>
            <td><b>Quantities</b></td>
          </tr>
          <tr *ngFor="let packitem of packproducts">
            <td>{{packitem.id}}</td>
            <td>{{packitem.name}}</td>
            <td>{{packitem.uom}}</td>

          </tr>
        </table>
        </div>
      </div>
      <div class="col text-center">
        <button class="btn btn-primary" (click)="closeModal('custom-CAREPACK');onCAREPACK()">Close</button>
      </div>
    </div>
  </div>
</jw-modal>



<jw-modal id="custom-churn-1">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <div class="card">
        <div class="card-header">
          Churn requests need a bit more detail </div>
        <div class="card-body">
          <div class="card-header">
            From Location
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6 ">
                <div class="card">
                  <div class="card-header">
                    To Location
                  </div>
                  <div class="card-body">
                    Address Details here
                  </div>
                </div>
              </div>
              <div class="col-sm-6 ">
                <div class="card">
                  <div class="card-header">
                    Alternative Location
                  </div>
                  <div class="card-body">
                    Address Details here
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col text-center">
        <button class="btn btn-primary" (click)="closeModal('custom-churn-1');onChurn()">Close</button>
      </div>
    </div>
  </div>
</jw-modal>
